.admin-new-company-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.admin-new-company-admin-main {
  flex: auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.admin-new-company-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #3c3131;
}
.admin-new-company-textarea {
  width: 100%;
  height: 234px;
}
.admin-new-company-submitt-company-button {
  width: 50%;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius8);
}
.admin-new-company-submit-company-button-text {
  font-size: x-large;
  border-radius: var(--dl-radius-radius-radius8);
}
